# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Loan Calculator (Go)/*
!/Loan Calculator (Go)/task/
/Loan Calculator (Go)/task/*
!/Loan Calculator (Go)/task/main.go
